<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UpworkNotifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <UpworkNotifier.Properties.Settings>
            <setting name="TelegramToken" serializeAs="String">
                <value />
            </setting>
            <setting name="TelegramUserId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScreenshotExamplePath" serializeAs="String">
                <value />
            </setting>
            <setting name="Message" serializeAs="String">
                <value>Screenshot Created!</value>
            </setting>
            <setting name="ScreenshotInterval" serializeAs="String">
                <value>10000</value>
            </setting>
        </UpworkNotifier.Properties.Settings>
    </userSettings>
</configuration>